<!--<form method="post" action="/post">
	<p>Username: <input type="text" name="username" /></p>
	<p>Title: <input type="text" name="title" /></p>

	<textarea name="messagebody"></textarea><br/>
	<input type="submit" />
</form>-->

	<form method="post" enctype="multipart/form-data" action="/upload">
		<p> Load image:<input type="file" name="photos"></p>
		<input type="submit" value="Submit">
	</form>
